body {
  margin: 20px;
  padding: 0;
  text-align: center;
}
.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}
.imageItem,
.imageItem .image,
.imageItem .image img {
  width: 100%;
  height: 100%;
}
.imageItem {
  position: relative;
}
.imageItem .image {
  overflow: hidden;
}
.imageItem .image img {
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.imageItem:hover .image img {
  transform: scale(1.5);
}
.width1 {
  grid-column: span 1;
}
.width2 {
  grid-column: span 2;
}
.width3 {
  grid-column: span 3;
}
.height1 {
  grid-row: span 1;
}
.height2 {
  grid-row: span 2;
}
.height3 {
  grid-row: span 3;
}
@media screen and (max-width: 540px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }
}
